@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

:root {
    --yellow-theme-background-color: #1d1d1d;
    --yellow-theme-main-color: #ffdd40;
    --yellow-theme-sub-text-color: #ffffff;
    --yellow-theme-nav-background-color: #181818;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    @apply bg-theme-bg font-sans text-theme-sub-text;
    overflow-x: hidden;
}

#root {
    /* removed h-full to fix double scrollbar */
}

@keyframes loadingBar {
    0% { width: 0%; }
    30% { width: 40%; }
    60% { width: 60%; }
    100% { width: 100%; }
}